<ul class="list-group">
  <li class="list-group-item" *ngFor="let task of subtasks">
    {{ task.name
    }}<img
      class="remove"
      src="/assets/removetaskicon.png"
      (click)="emitSubTaskDeletion(task.taskId, task.subTaskId)"
    />
    <img
      class="add"
      src="/assets/edit.png"
      (click)="
        emitEditSubTask(task.taskId, task.name, task.subTaskId, task.status)
      "
    />
    <span class="badge badge-pill badge-secondary ml-3 status">{{
      task.status
    }}</span>
  </li>
</ul>
