<div class="container recovery">
  <h3>Recover Password</h3>
  <p>
    A <strong>Recovery Code</strong> will be sent to your registered email. Use
    the code to reset your password
  </p>
  <div class="loader" [hidden]="!loadSpinner">{{ loadMessage }}</div>
  <div class="recoveryForm" [hidden]="showResetPassword">
    <form #recoveryform="ngForm" (ngSubmit)="sendRecoveryCode()">
      <label for="recoveryEmail">Recovery Email</label>
      <input
        type="email"
        class="form-control"
        required
        placeholder="email"
        name="email"
        [(ngModel)]="email"
        #_email="ngModel"
      />
      <div
        [hidden]="_email.valid || _email.pristine"
        class="alert alert-danger"
      >
        Email is required
      </div>
      <button class="mt-2" [disabled]="!recoveryform.form.valid">
        Send Code
      </button>
      <button class="ml-2" [routerLink]="['/home']">Cancel</button>
    </form>
  </div>
  <div>{{ recoveryMessage }}</div>
  <div [hidden]="!showResetPassword">
    <h2>Enter Recovery Code</h2>
    <form #resetform="ngForm" (ngSubmit)="resetPassword()">
      <input
        type="text"
        required
        class="form-control"
        name="code"
        placeholder="recovery code"
        [(ngModel)]="code"
        #_code="ngModel"
      />
      <div [hidden]="_code.valid || _code.pristine" class="alert alert-danger">
        Code Is Required
      </div>
      <input
        type="password"
        required
        class="form-control"
        placeholder="password"
        name="password"
        [(ngModel)]="password"
        (click)="validatePassword()"
        #_pwd="ngModel"
      />
      <div [hidden]="_pwd.valid || _pwd.pristine" class="alert alert-danger">
        Password Is required
      </div>
      <div [hidden]="validatePassword()" class="alert alert-danger">
        Password should be alphanumeric and of min length 8
      </div>
      <input
        class="form-control mt-1"
        type="password"
        placeholder="confirm password"
        required
        name="cfnpassword"
        [(ngModel)]="cfnpassword"
        (click)="validatePassword()"
        #_cpwd="ngModel"
      />
      <div [hidden]="comparePassword()" class="alert alert-danger">
        Password doesn't match
      </div>
      <button
        class="mt-2"
        [disabled]="!resetform.form.valid || !acceptedPwd || !equalPwd"
      >
        Reset Password
      </button>
      <div>{{ resetResponse }}</div>
    </form>
  </div>
</div>
<router-outlet></router-outlet>
