.add {
  margin-left: 15px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.remove {
  margin-left: 15px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.add::hover {
  border-color: blueviolet;
}
.remove::hover {
  border-color: blueviolet;
}
.task {
  color: #b95143;
}
.subtask {
  float: right;
}
