<div class="container-sm">
  <nav class="navbar navbar-expand-lg navbar-light title">
    <a class="navbar-brand" href="/">
      <img
        src="assets/todo.png"
        width="40"
        height="40"
        class="d-inline-block align-top"
        alt=""
      />
      KanbanBoard
    </a>
  </nav>
  <div class="introduction">
    <p>
      Welcome to KanbanBoard,A perfect way to manage Your tasks in a shared way
      with your peers and friends. Let's get Started
    </p>
    <button>Login</button>
    <button class="ml-4">SignUp</button>
  </div>
</div>

<router-outlet></router-outlet>
