<div class="container">
  <div class="taskListHeader">
    <img src="/assets/addListIcon.png" (click)="openCreateTaskListForm()" />
  </div>
  <div class="row">
    <div class="col-md-5 mt-4" *ngFor="let list of taskLists">
      <div class="card" style="width: 22rem;">
        <div class="card-header">
          {{ list.name
          }}<span class="text-muted ml-5">
            {{ list.createdOn | date: "shortDate" }}
            <img
              class="add"
              src="/assets/addtaskicon.png"
              (click)="openCreateTaskForm(list.taskListId)"
          /></span>
        </div>
        <app-tasks
          [taskListId]="list.taskListId"
          [userId]="list.userId"
          (notify)="openCreateSubTaskForm($event)"
        >
        </app-tasks>
      </div>
    </div>

    <div class="col-md-4 mt-4 createTask" [hidden]="!toggleCreateTaskForm">
      <app-create-task
        [operationName]="operationName"
        [taskListId]="taskListId"
        [userId]="userId"
        (notify)="reloadTaskList()"
      ></app-create-task>
    </div>
    <div class="col-md-4 mt-4 createTask" [hidden]="!toggleCreateSubTaskForm">
      <app-create-task
        [operationName]="'Create New SubTask'"
        [taskId]="taskId"
        (notify)="reloadTasks()"
      ></app-create-task>
    </div>
  </div>
</div>
