<div class="container">
  <div>
    <span (click)="open(createModal, 'New TaskList', '')">
      <img class="addList" src="/assets/addListIcon.png" />
      <code>Add Task List</code>
    </span>
  </div>
  <div class="userinfo">
    <figure class="figure">
      <img
        src="/assets/loginUser.png"
        class="figure-img img-fluid rounded"
        alt="..."
        style="width: 30px; height: 30px;"
      />
      <figcaption
        class="figure-caption badge badge-success"
        style="margin-left: 25px;"
      >
        {{ username }}
      </figcaption>
    </figure>
  </div>

  <div [hidden]="toggleBannerDisplay">
    <button
      class="btn btn-outline-dark"
      (click)="showLoggedInUsersTask(userId)"
    >
      My Tasks
    </button>
    <span class="displayBanner"
      >Currently showing Tasks for {{ selectedFriendName }}</span
    >
  </div>
  <button
    type="button"
    class="btn btn-success"
    style="margin-top: 20px;"
    (click)="showOnlineUsers()"
  >
    Online Users
    <span class="badge badge-light" *ngIf="onlineUser">{{
      onlineUser.length || 0
    }}</span>
  </button>
  <button
    type="button"
    class="btn btn-dark"
    style="margin-top: 20px; margin-left: 5px;"
    (click)="showFriendList()"
  >
    Friend List
    <span class="badge badge-light" *ngIf="friendList">{{
      friendList.length || 0
    }}</span>
  </button>
  <app-online-users
    [hidden]="toggleOnlineUser"
    [userId]="userId"
    [username]="username"
    (onlineUsers)="setOnlineUsers($event)"
  ></app-online-users>
  <app-friend-list
    [hidden]="toggleFriendList"
    [userId]="userId"
    [username]="username"
    (friends)="setFriendList($event)"
    (selectedFriend)="getFriendsItems($event)"
    (reloadTaskList)="reloadFriendlyUpdates($event)"
  ></app-friend-list>

  <div class="row">
    <div class="col-md-5 mt-4" *ngFor="let list of taskLists">
      <div class="card" style="width: 22rem;">
        <div class="card-header">
          {{ list.name }}
          <span class="taskListHeader">
            <img
              class="add"
              src="/assets/addtaskicon.png"
              (click)="open(createModal, 'New Task', list.taskListId)"
            />
            <img
              class="add"
              src="/assets/removetaskicon.png"
              (click)="deleteTaskList(list.taskListId)"
            />
            <img
              class="add"
              src="/assets/edit.png"
              (click)="
                openEdit(editModal, 'Edit TaskList', list.taskListId, list.name)
              "
            />
          </span>
        </div>
        <app-tasks
          [taskListId]="list.taskListId"
          [userId]="list.userId"
          [loggedInUser]="userId"
          [flagOperationForFriend]="flagDisplayingFriendsItem"
          (notify)="openCreateSubTaskForm($event, createModal)"
          (delete)="deleteTask($event)"
          (edit)="editTask($event, editModal)"
          (editSTask)="editSubTask($event, editModal)"
          (notifyForSTaskDelete)="notifyFriendsSTaskDelete($event)"
        >
        </app-tasks>
      </div>
    </div>

    <!-- Create Modal -->
    <ng-template #createModal let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-create">
          You are creating...
        </h4>
      </div>
      <div class="modal-body">
        <app-create-task
          [operationName]="operationName"
          [taskListId]="selectedTaskListId"
          [userId]="selectedUserId"
          [taskId]="selectedTaskId"
          (notifyNewTaskList)="addNewTaskList($event)"
          (notifyNewTask)="addNewTask($event)"
          (notifyNewSubTask)="addNewSubTask($event)"
          (closeModal)="modal.close()"
        ></app-create-task>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-dark"
          (click)="modal.close('Save click')"
        >
          Done?
        </button>
      </div>
    </ng-template>
    <!-- Edit Modal -->
    <ng-template #editModal let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-edit">
          You are editing...
        </h4>
      </div>
      <div class="modal-body">
        <app-edit-task
          [operationName]="operationName"
          [taskListId]="selectedTaskListId"
          [userId]="selectedUserId"
          [taskId]="selectedTaskId"
          [subTaskId]="selectedSubTaskId"
          [name]="selectedTaskName"
          [status]="selectedTaskStatus"
          [selectTasksList]="selectTasksList"
          [selectTasks]="selectTasks"
          [loggedInUser]="userId"
          [username]="username"
          [flagOperationForFriend]="flagDisplayingFriendsItem"
          [usersFriend]="usersFriendList"
          (notifyEditTaskList)="editTaskLists($event)"
          (notifyEditTask)="postEditTask($event)"
          (notifyEditSubTask)="postEditSubTask($event)"
          (closeModal)="modal.close()"
        ></app-edit-task>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-dark"
          (click)="modal.close('Save click')"
        >
          Done?
        </button>
      </div>
    </ng-template>
  </div>
</div>
