* {
  font-family: "Montserrat", sans-serif;
}
.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid green;
}
.ng-invalid:not(form) {
  border-left: 5px solid red;
}
.add {
  margin-left: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
span {
  cursor: pointer;
}
.addList {
  margin-left: 14px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
img {
  cursor: pointer;
}
.createTask {
  margin-top: 20px;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 25px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.75);
  width: 200px;
  height: 200px;
}
