/* You can add global styles to this file, and also import other style files */
body {
  background: url(assets/pier-407252_1920.jpg);
  background-size: cover;
  font-family: "Montserrat", sans-serif;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {
  body {
    width: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}

@media screen and (max-width: 575px) {
  body {
    width: auto;
  }
}
